# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# База данных Django
db.sqlite3

# Файлы IDE (например, для VS Code)
.vscode/

# Статические файлы, которые Django собирает
staticfiles/

# Медиафайлы
media/

# Файлы с секретными данными (если вы решите их использовать)
.env
secret_settings.py